/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .main-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex: 1;
    padding: 20px;
  }
  
  .card-number {
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .card-author {
    color: #3498db;
    font-size: 14px;
  }
  
  .card-title {
    margin: 10px 0;
    color: #333;
  }
  
  .card-description {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .card-read {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .card-tag {
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    align-self: flex-end;
  }
  
  .card-media {
    width: 100%;
    height: 150px; /* You can adjust the height as needed */
    object-fit: cover;
  }
  
  .card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* style.css */

.navbar {
    background-color: #3498db;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }
  
  .btn-group {
    display: flex;
    gap: 20px;
  }
  
  .btn-group_item {
    background-color: #fff;
    color: #3498db;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-group_item:hover {
    background-color: #3498db;
    color: #fff;
  }
  